-r requirements.txt
requests
urllib3

# import packages for data manipulation
pandas
# from pandas.io.json import json_normalize
pandas.io.json
numpy

# import standard modules
os
time
sys

# plotly modules
plotly.express

# dash modules
dash

# mapping modules
matplotlib.pyplot
folium
polyline
base64
tqdm